In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CLEANCDRdata.csv")
df

       Country/Region Last Update  Confirmed  Deaths  Recovered
0               China     1/22/20          1       0          0
1               China     1/22/20         14       0          0
2               China     1/22/20          6       0          0
3               China     1/22/20          1       0          0
4               China     1/22/20          0       0          0
5               China     1/22/20         26       0          0
6               China     1/22/20          2       0          0
7               China     1/22/20          1       0          0
8               China     1/22/20          4       0          0
9               China     1/22/20          1       0          0
10              China     1/22/20          0       0          0
11              China     1/22/20          5       0          0
12              China     1/22/20        444      17         28
13              China     1/22/20          4       0          0
14              China     1/22/20          0       0          0
15              China     1/22/20          1       0          0
16              China     1/22/20          2       0          0
17              China     1/22/20          0       0          0
18              China     1/22/20          2       0          0
19              China     1/22/20          1       0          0
20              China     1/22/20          0       0          0
21              China     1/22/20          0       0          0
22              China     1/22/20          2       0          0
23              China     1/22/20          9       0          0
24              China     1/22/20          1       0          0
25              China     1/22/20          5       0          0
26              China     1/22/20          4       0          0
27              China     1/22/20          0       0          0
28                 US     1/22/20          1       0          0
29              China     1/22/20          0       0          0
...               ...         ...        ...     ...        ...
25145           China     3/28/20        561       4        112
25146           China     3/28/20      67801    3177      62098
25147           China     3/28/20         94       1         74
25148  United Kingdom     3/28/20         32       0          0
25149           China     3/28/20         97       1         92
25150           China     3/28/20        132       2        124
25151           China     3/28/20         37       0         10
25152  United Kingdom     3/28/20          5       0          0
25153       Australia     3/28/20       1617       8          4
25154              US     3/28/20          0       0          0
25155       Australia     3/28/20         15       0          0
25156              US     3/28/20        100       3          0
25157       Australia     3/28/20        625       1          8
25158              US     3/28/20          0       0       1072
25159           China     3/28/20        485       5        334
25160       Australia     3/28/20        287       0          6
25161       Australia     3/28/20         62       0          5
25162           China     3/28/20        161       3        133
25163  United Kingdom     3/28/20          4       0          0
25164       Australia     3/28/20        685       3        191
25165              US     3/28/20         22       0          0
25166       Australia     3/28/20        278       2         28
25167           China     3/28/20       1251       1       1225
25168           India     3/28/20        987      24         84
25169            Iran     3/28/20      35408    2517      11679
25170           Italy     3/28/20      92472   10023      12384
25171     South Korea     3/28/20       9478     144       4811
25172     New Zealand     3/28/20        451       0         50
25173            Peru     3/28/20        671      16         16
25174  United Kingdom     3/28/20      17089    1019        135

[25175 rows x 5 columns]

In [ ]:
df = pd.read_csv("/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CDRdata.csv")
df

In [ ]:
df = pd.read_csv(r"C:\Users\austi\Documents\GitHub\COMP5360Project\project_files\csv_files\CDRdata.csv")
df

In [4]:
df.describe()

          Confirmed        Deaths     Recovered
count  25175.000000  25175.000000  25175.000000
mean     237.507090     10.071857     91.511500
std     3241.846422    187.677588   1801.998331
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        1.000000      0.000000      0.000000
75%        6.000000      0.000000      0.000000
max    92472.000000  10023.000000  62098.000000

In [5]:
df["Confirmed"] = df["Confirmed"].fillna(0)
df["Deaths"] = df["Deaths"].fillna(0)
df["Recovered"] = df["Recovered"].fillna(0)
df

       Country/Region Last Update  Confirmed  Deaths  Recovered
0               China     1/22/20          1       0          0
1               China     1/22/20         14       0          0
2               China     1/22/20          6       0          0
3               China     1/22/20          1       0          0
4               China     1/22/20          0       0          0
5               China     1/22/20         26       0          0
6               China     1/22/20          2       0          0
7               China     1/22/20          1       0          0
8               China     1/22/20          4       0          0
9               China     1/22/20          1       0          0
10              China     1/22/20          0       0          0
11              China     1/22/20          5       0          0
12              China     1/22/20        444      17         28
13              China     1/22/20          4       0          0
14              China     1/22/20          0       0          0
15              China     1/22/20          1       0          0
16              China     1/22/20          2       0          0
17              China     1/22/20          0       0          0
18              China     1/22/20          2       0          0
19              China     1/22/20          1       0          0
20              China     1/22/20          0       0          0
21              China     1/22/20          0       0          0
22              China     1/22/20          2       0          0
23              China     1/22/20          9       0          0
24              China     1/22/20          1       0          0
25              China     1/22/20          5       0          0
26              China     1/22/20          4       0          0
27              China     1/22/20          0       0          0
28                 US     1/22/20          1       0          0
29              China     1/22/20          0       0          0
...               ...         ...        ...     ...        ...
25145           China     3/28/20        561       4        112
25146           China     3/28/20      67801    3177      62098
25147           China     3/28/20         94       1         74
25148  United Kingdom     3/28/20         32       0          0
25149           China     3/28/20         97       1         92
25150           China     3/28/20        132       2        124
25151           China     3/28/20         37       0         10
25152  United Kingdom     3/28/20          5       0          0
25153       Australia     3/28/20       1617       8          4
25154              US     3/28/20          0       0          0
25155       Australia     3/28/20         15       0          0
25156              US     3/28/20        100       3          0
25157       Australia     3/28/20        625       1          8
25158              US     3/28/20          0       0       1072
25159           China     3/28/20        485       5        334
25160       Australia     3/28/20        287       0          6
25161       Australia     3/28/20         62       0          5
25162           China     3/28/20        161       3        133
25163  United Kingdom     3/28/20          4       0          0
25164       Australia     3/28/20        685       3        191
25165              US     3/28/20         22       0          0
25166       Australia     3/28/20        278       2         28
25167           China     3/28/20       1251       1       1225
25168           India     3/28/20        987      24         84
25169            Iran     3/28/20      35408    2517      11679
25170           Italy     3/28/20      92472   10023      12384
25171     South Korea     3/28/20       9478     144       4811
25172     New Zealand     3/28/20        451       0         50
25173            Peru     3/28/20        671      16         16
25174  United Kingdom     3/28/20      17089    1019        135

[25175 rows x 5 columns]

In [6]:
df = df[["Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df

       Country/Region Last Update  Confirmed  Deaths  Recovered
0               China     1/22/20          1       0          0
1               China     1/22/20         14       0          0
2               China     1/22/20          6       0          0
3               China     1/22/20          1       0          0
4               China     1/22/20          0       0          0
5               China     1/22/20         26       0          0
6               China     1/22/20          2       0          0
7               China     1/22/20          1       0          0
8               China     1/22/20          4       0          0
9               China     1/22/20          1       0          0
10              China     1/22/20          0       0          0
11              China     1/22/20          5       0          0
12              China     1/22/20        444      17         28
13              China     1/22/20          4       0          0
14              China     1/22/20          0       0          0
15              China     1/22/20          1       0          0
16              China     1/22/20          2       0          0
17              China     1/22/20          0       0          0
18              China     1/22/20          2       0          0
19              China     1/22/20          1       0          0
20              China     1/22/20          0       0          0
21              China     1/22/20          0       0          0
22              China     1/22/20          2       0          0
23              China     1/22/20          9       0          0
24              China     1/22/20          1       0          0
25              China     1/22/20          5       0          0
26              China     1/22/20          4       0          0
27              China     1/22/20          0       0          0
28                 US     1/22/20          1       0          0
29              China     1/22/20          0       0          0
...               ...         ...        ...     ...        ...
25145           China     3/28/20        561       4        112
25146           China     3/28/20      67801    3177      62098
25147           China     3/28/20         94       1         74
25148  United Kingdom     3/28/20         32       0          0
25149           China     3/28/20         97       1         92
25150           China     3/28/20        132       2        124
25151           China     3/28/20         37       0         10
25152  United Kingdom     3/28/20          5       0          0
25153       Australia     3/28/20       1617       8          4
25154              US     3/28/20          0       0          0
25155       Australia     3/28/20         15       0          0
25156              US     3/28/20        100       3          0
25157       Australia     3/28/20        625       1          8
25158              US     3/28/20          0       0       1072
25159           China     3/28/20        485       5        334
25160       Australia     3/28/20        287       0          6
25161       Australia     3/28/20         62       0          5
25162           China     3/28/20        161       3        133
25163  United Kingdom     3/28/20          4       0          0
25164       Australia     3/28/20        685       3        191
25165              US     3/28/20         22       0          0
25166       Australia     3/28/20        278       2         28
25167           China     3/28/20       1251       1       1225
25168           India     3/28/20        987      24         84
25169            Iran     3/28/20      35408    2517      11679
25170           Italy     3/28/20      92472   10023      12384
25171     South Korea     3/28/20       9478     144       4811
25172     New Zealand     3/28/20        451       0         50
25173            Peru     3/28/20        671      16         16
25174  United Kingdom     3/28/20      17089    1019        135

[25175 rows x 5 columns]

In [7]:
df["Country/Region"] = df["Country/Region"].replace("Mainland China", "China")
df["Country/Region"] = df["Country/Region"].replace("Korea, South", "South Korea")
df["Country/Region"] = df["Country/Region"].replace("UK", "United Kingdom")
df

       Country/Region Last Update  Confirmed  Deaths  Recovered
0               China     1/22/20          1       0          0
1               China     1/22/20         14       0          0
2               China     1/22/20          6       0          0
3               China     1/22/20          1       0          0
4               China     1/22/20          0       0          0
5               China     1/22/20         26       0          0
6               China     1/22/20          2       0          0
7               China     1/22/20          1       0          0
8               China     1/22/20          4       0          0
9               China     1/22/20          1       0          0
10              China     1/22/20          0       0          0
11              China     1/22/20          5       0          0
12              China     1/22/20        444      17         28
13              China     1/22/20          4       0          0
14              China     1/22/20          0       0          0
15              China     1/22/20          1       0          0
16              China     1/22/20          2       0          0
17              China     1/22/20          0       0          0
18              China     1/22/20          2       0          0
19              China     1/22/20          1       0          0
20              China     1/22/20          0       0          0
21              China     1/22/20          0       0          0
22              China     1/22/20          2       0          0
23              China     1/22/20          9       0          0
24              China     1/22/20          1       0          0
25              China     1/22/20          5       0          0
26              China     1/22/20          4       0          0
27              China     1/22/20          0       0          0
28                 US     1/22/20          1       0          0
29              China     1/22/20          0       0          0
...               ...         ...        ...     ...        ...
25145           China     3/28/20        561       4        112
25146           China     3/28/20      67801    3177      62098
25147           China     3/28/20         94       1         74
25148  United Kingdom     3/28/20         32       0          0
25149           China     3/28/20         97       1         92
25150           China     3/28/20        132       2        124
25151           China     3/28/20         37       0         10
25152  United Kingdom     3/28/20          5       0          0
25153       Australia     3/28/20       1617       8          4
25154              US     3/28/20          0       0          0
25155       Australia     3/28/20         15       0          0
25156              US     3/28/20        100       3          0
25157       Australia     3/28/20        625       1          8
25158              US     3/28/20          0       0       1072
25159           China     3/28/20        485       5        334
25160       Australia     3/28/20        287       0          6
25161       Australia     3/28/20         62       0          5
25162           China     3/28/20        161       3        133
25163  United Kingdom     3/28/20          4       0          0
25164       Australia     3/28/20        685       3        191
25165              US     3/28/20         22       0          0
25166       Australia     3/28/20        278       2         28
25167           China     3/28/20       1251       1       1225
25168           India     3/28/20        987      24         84
25169            Iran     3/28/20      35408    2517      11679
25170           Italy     3/28/20      92472   10023      12384
25171     South Korea     3/28/20       9478     144       4811
25172     New Zealand     3/28/20        451       0         50
25173            Peru     3/28/20        671      16         16
25174  United Kingdom     3/28/20      17089    1019        135

[25175 rows x 5 columns]

In [8]:
countries = ['US', 'China', 'Italy', 'New Zealand', 'South Korea', 'United Kingdom', 'Iran', 'Australia', 'India', 'Peru']
df = df.loc[df['Country/Region'].isin(countries)]
df

       Country/Region Last Update  Confirmed  Deaths  Recovered
0               China     1/22/20          1       0          0
1               China     1/22/20         14       0          0
2               China     1/22/20          6       0          0
3               China     1/22/20          1       0          0
4               China     1/22/20          0       0          0
5               China     1/22/20         26       0          0
6               China     1/22/20          2       0          0
7               China     1/22/20          1       0          0
8               China     1/22/20          4       0          0
9               China     1/22/20          1       0          0
10              China     1/22/20          0       0          0
11              China     1/22/20          5       0          0
12              China     1/22/20        444      17         28
13              China     1/22/20          4       0          0
14              China     1/22/20          0       0          0
15              China     1/22/20          1       0          0
16              China     1/22/20          2       0          0
17              China     1/22/20          0       0          0
18              China     1/22/20          2       0          0
19              China     1/22/20          1       0          0
20              China     1/22/20          0       0          0
21              China     1/22/20          0       0          0
22              China     1/22/20          2       0          0
23              China     1/22/20          9       0          0
24              China     1/22/20          1       0          0
25              China     1/22/20          5       0          0
26              China     1/22/20          4       0          0
27              China     1/22/20          0       0          0
28                 US     1/22/20          1       0          0
29              China     1/22/20          0       0          0
...               ...         ...        ...     ...        ...
25145           China     3/28/20        561       4        112
25146           China     3/28/20      67801    3177      62098
25147           China     3/28/20         94       1         74
25148  United Kingdom     3/28/20         32       0          0
25149           China     3/28/20         97       1         92
25150           China     3/28/20        132       2        124
25151           China     3/28/20         37       0         10
25152  United Kingdom     3/28/20          5       0          0
25153       Australia     3/28/20       1617       8          4
25154              US     3/28/20          0       0          0
25155       Australia     3/28/20         15       0          0
25156              US     3/28/20        100       3          0
25157       Australia     3/28/20        625       1          8
25158              US     3/28/20          0       0       1072
25159           China     3/28/20        485       5        334
25160       Australia     3/28/20        287       0          6
25161       Australia     3/28/20         62       0          5
25162           China     3/28/20        161       3        133
25163  United Kingdom     3/28/20          4       0          0
25164       Australia     3/28/20        685       3        191
25165              US     3/28/20         22       0          0
25166       Australia     3/28/20        278       2         28
25167           China     3/28/20       1251       1       1225
25168           India     3/28/20        987      24         84
25169            Iran     3/28/20      35408    2517      11679
25170           Italy     3/28/20      92472   10023      12384
25171     South Korea     3/28/20       9478     144       4811
25172     New Zealand     3/28/20        451       0         50
25173            Peru     3/28/20        671      16         16
25174  United Kingdom     3/28/20      17089    1019        135

[25175 rows x 5 columns]

In [9]:
df["Confirmed"] = df["Confirmed"].astype("int")
df["Deaths"] = df["Deaths"].astype("int")
df["Recovered"] = df["Recovered"].astype("int")
df.dtypes

Country/Region    object
Last Update       object
Confirmed          int64
Deaths             int64
Recovered          int64
dtype: object

In [ ]:
df.to_csv('/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CLEANCDRData.csv', index = False)

In [10]:
df.to_csv('/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CLEANCDRData.csv', index = False)

In [ ]:
df.to_csv(r'C:\Users\austi\Documents\GitHub\COMP5360Project\project_files\csv_files\CLEANCDRData.csv', index = False)