In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CDRdata.csv")
df

FileNotFoundError: [Errno 2] File b'/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CDRdata.csv' does not exist: b'/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CDRdata.csv'

In [15]:
df = pd.read_csv("/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CDRdata.csv")
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/20,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/20,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/20,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/20,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/20,NaN,NaN,NaN
...,...,...,...,...,...,...
28529,NaN,Venezuela,3/28/20,119.0,2.0,39.0
28530,NaN,Vietnam,3/28/20,174.0,0.0,21.0
28531,NaN,West Bank and Gaza,3/28/20,98.0,1.0,18.0
28532,NaN,Zambia,3/28/20,28.0,0.0,0.0
28533,NaN,Zimbabwe,3/28/20,7.0,1.0,0.0

In [16]:
df.describe()

          Confirmed        Deaths     Recovered
count  28515.000000  28093.000000  28146.000000
mean     279.766860     11.172641     87.379947
std     3279.777856    190.630380   1711.227050
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        1.000000      0.000000      0.000000
75%       12.000000      0.000000      0.000000
max    92472.000000  10023.000000  62098.000000

In [17]:
df["Confirmed"] = df["Confirmed"].fillna(0)
df["Deaths"] = df["Deaths"].fillna(0)
df["Recovered"] = df["Recovered"].fillna(0)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/20,1.0,0.0,0.0
1,Beijing,Mainland China,1/22/20,14.0,0.0,0.0
2,Chongqing,Mainland China,1/22/20,6.0,0.0,0.0
3,Fujian,Mainland China,1/22/20,1.0,0.0,0.0
4,Gansu,Mainland China,1/22/20,0.0,0.0,0.0
...,...,...,...,...,...,...
28529,NaN,Venezuela,3/28/20,119.0,2.0,39.0
28530,NaN,Vietnam,3/28/20,174.0,0.0,21.0
28531,NaN,West Bank and Gaza,3/28/20,98.0,1.0,18.0
28532,NaN,Zambia,3/28/20,28.0,0.0,0.0
28533,NaN,Zimbabwe,3/28/20,7.0,1.0,0.0

In [18]:
df = df[["Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]]
df

           Country/Region Last Update  Confirmed  Deaths  Recovered
0          Mainland China     1/22/20        1.0     0.0        0.0
1          Mainland China     1/22/20       14.0     0.0        0.0
2          Mainland China     1/22/20        6.0     0.0        0.0
3          Mainland China     1/22/20        1.0     0.0        0.0
4          Mainland China     1/22/20        0.0     0.0        0.0
...                   ...         ...        ...     ...        ...
28529           Venezuela     3/28/20      119.0     2.0       39.0
28530             Vietnam     3/28/20      174.0     0.0       21.0
28531  West Bank and Gaza     3/28/20       98.0     1.0       18.0
28532              Zambia     3/28/20       28.0     0.0        0.0
28533            Zimbabwe     3/28/20        7.0     1.0        0.0

[28534 rows x 5 columns]

In [19]:
df["Country/Region"] = df["Country/Region"].replace("Mainland China", "China")
df["Country/Region"] = df["Country/Region"].replace("Korea, South", "South Korea")
df

C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Country/Region Last Update  Confirmed  Deaths  Recovered
0                   China     1/22/20        1.0     0.0        0.0
1                   China     1/22/20       14.0     0.0        0.0
2                   China     1/22/20        6.0     0.0        0.0
3                   China     1/22/20        1.0     0.0        0.0
4                   China     1/22/20        0.0     0.0        0.0
...                   ...         ...        ...     ...        ...
28529           Venezuela     3/28/20      119.0     2.0       39.0
28530             Vietnam     3/28/20      174.0     0.0       21.0
28531  West Bank and Gaza     3/28/20       98.0     1.0       18.0
28532              Zambia     3/28/20       28.0     0.0        0.0
28533            Zimbabwe     3/28/20        7.0     1.0        0.0

[28534 rows x 5 columns]

In [20]:
countries = ['US', 'China', 'Italy', 'New Zealand', 'South Korea', 'United Kingdom', 'Iran', 'Singapore', 'India', 'Peru', 'Australia']
df = df.loc[df['Country/Region'].isin(countries)]

In [21]:
df["Confirmed"] = df["Confirmed"].astype("int")
df["Deaths"] = df["Deaths"].astype("int")
df["Recovered"] = df["Recovered"].astype("int")
df.dtypes

C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\spenc\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Country/Region    object
Last Update       object
Confirmed          int32
Deaths             int32
Recovered          int32
dtype: object

In [25]:
df.to_csv('/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CLEANCDRData.csv', index = False)

In [ ]:
df.to_csv('/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CLEANCDRData.csv', index = False)

      Country/Region Last Update  Confirmed  Deaths  Recovered
80         Australia     1/23/20          0       0          0
166        Australia     1/25/20          4       0          0
212        Australia     1/26/20          4       0          0
265        Australia     1/27/20          4       0          0
266        Australia     1/27/20          1       0          0
...              ...         ...        ...     ...        ...
28343      Australia     3/28/20        625       1          8
28351      Australia     3/28/20        287       0          6
28353      Australia     3/28/20         62       0          5
28356      Australia     3/28/20        685       3        191
28358      Australia     3/28/20        278       2         28

[182 rows x 5 columns]