In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CLEANCDRData.csv")
data

       Country/Region Last Update  Confirmed  Deaths  Recovered
0      Mainland China     1/22/20          1       0          0
1      Mainland China     1/22/20         14       0          0
2      Mainland China     1/22/20          6       0          0
3      Mainland China     1/22/20          1       0          0
4      Mainland China     1/22/20          0       0          0
5      Mainland China     1/22/20         26       0          0
6      Mainland China     1/22/20          2       0          0
7      Mainland China     1/22/20          1       0          0
8      Mainland China     1/22/20          4       0          0
9      Mainland China     1/22/20          1       0          0
10     Mainland China     1/22/20          0       0          0
11     Mainland China     1/22/20          5       0          0
12     Mainland China     1/22/20        444      17         28
13     Mainland China     1/22/20          4       0          0
14     Mainland China     1/22/20          0       0          0
15     Mainland China     1/22/20          1       0          0
16     Mainland China     1/22/20          2       0          0
17     Mainland China     1/22/20          0       0          0
18     Mainland China     1/22/20          2       0          0
19     Mainland China     1/22/20          1       0          0
20     Mainland China     1/22/20          0       0          0
21     Mainland China     1/22/20          0       0          0
22     Mainland China     1/22/20          2       0          0
23     Mainland China     1/22/20          9       0          0
24     Mainland China     1/22/20          1       0          0
25     Mainland China     1/22/20          5       0          0
26     Mainland China     1/22/20          4       0          0
27     Mainland China     1/22/20          0       0          0
28                 US     1/22/20          1       0          0
29     Mainland China     1/22/20          0       0          0
...               ...         ...        ...     ...        ...
24634              US     3/28/20         23       0          0
24635              US     3/28/20          0       0          0
24636              US     3/28/20         16       1          0
24637              US     3/28/20         38       0          0
24638              US     3/28/20          0       0          0
24639              US     3/28/20         37       0          0
24640              US     3/28/20         31       0          0
24641              US     3/28/20          9       1          0
24642              US     3/28/20          1       0          0
24643              US     3/28/20          3       0          0
24644              US     3/28/20          0       0          0
24645              US     3/28/20          4       0          0
24646              US     3/28/20          2       0          0
24647              US     3/28/20          0       0          0
24648              US     3/28/20          0       0          0
24649              US     3/28/20          0       0          0
24650              US     3/28/20          0       0          0
24651              US     3/28/20         49       0          0
24652              US     3/28/20        103       3          0
24653              US     3/28/20         55       1          0
24654              US     3/28/20          0       0          0
24655              US     3/28/20        100       3          0
24656              US     3/28/20          0       0       1072
24657              US     3/28/20         22       0          0
24658           India     3/28/20        987      24         84
24659            Iran     3/28/20      35408    2517      11679
24660           Italy     3/28/20      92472   10023      12384
24661     New Zealand     3/28/20        451       0         50
24662            Peru     3/28/20        671      16         16
24663       Singapore     3/28/20        802       2        198

[24664 rows x 5 columns]

In [6]:
groupDate = data.groupby("Last Update")
df1 = groupDate.count()

df1 

df1 = list(df1.index.values)

df = pd.DataFrame(df1)
df[0:35]
    
# making data frame  
#data = pd.read_csv("nba.csv")  
  
# calling head() method   
# storing in new variable  
#data_top = data.head()  
    
#list(data_top.index.values)


#groupyear = filterrows.groupby("year")
#counts = groupyear["title"].count()

          0
0   1/22/20
1   1/23/20
2   1/24/20
3   1/25/20
4   1/26/20
5   1/27/20
6   1/28/20
7   1/29/20
8   1/30/20
9   1/31/20
10   2/1/20
11  2/10/20
12  2/11/20
13  2/12/20
14  2/13/20
15  2/14/20
16  2/15/20
17  2/16/20
18  2/17/20
19  2/18/20
20  2/19/20
21   2/2/20
22  2/20/20
23  2/21/20
24  2/22/20
25  2/23/20
26  2/24/20
27  2/25/20
28  2/26/20
29  2/27/20
30  2/28/20
31  2/29/20
32   2/3/20
33   2/4/20
34   2/5/20

In [ ]:
dataChina = data[data["Country/Region"] == "Mainland China"]  
dataChina
groupChina = dataChina.groupby("Last Update")
dChina = groupChina.sum()
dChina

#surveys_df[surveys_df.year == 2002]

In [ ]:
#df1 = pd.DataFrame({ "AAPL": AAPL["Adj Close"],
#                           "MSFT": MSFT["Adj Close"],
#                           "GOOG": GOOG["Adj Close"]})