In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CLEANCDRData.csv")
data

      Country/Region Last Update  Confirmed  Deaths  Recovered
0              China     1/22/20          1       0          0
1              China     1/22/20         14       0          0
2              China     1/22/20          6       0          0
3              China     1/22/20          1       0          0
4              China     1/22/20          0       0          0
5              China     1/22/20         26       0          0
6              China     1/22/20          2       0          0
7              China     1/22/20          1       0          0
8              China     1/22/20          4       0          0
9              China     1/22/20          1       0          0
10             China     1/22/20          0       0          0
11             China     1/22/20          5       0          0
12             China     1/22/20        444      17         28
13             China     1/22/20          4       0          0
14             China     1/22/20          0       0          0
15             China     1/22/20          1       0          0
16             China     1/22/20          2       0          0
17             China     1/22/20          0       0          0
18             China     1/22/20          2       0          0
19             China     1/22/20          1       0          0
20             China     1/22/20          0       0          0
21             China     1/22/20          0       0          0
22             China     1/22/20          2       0          0
23             China     1/22/20          9       0          0
24             China     1/22/20          1       0          0
25             China     1/22/20          5       0          0
26             China     1/22/20          4       0          0
27             China     1/22/20          0       0          0
28                US     1/22/20          1       0          0
29             China     1/22/20          0       0          0
...              ...         ...        ...     ...        ...
24924             US     3/28/20          0       0          0
24925             US     3/28/20          0       0          0
24926             US     3/28/20          0       0          0
24927          China     3/28/20        573       8        410
24928             US     3/28/20         49       0          0
24929          China     3/28/20        337       1        295
24930          China     3/28/20        136       2        125
24931             US     3/28/20        103       3          0
24932             US     3/28/20         55       1          0
24933          China     3/28/20       1467       8       1341
24934          China     3/28/20       1275      22       1251
24935          China     3/28/20        561       4        112
24936          China     3/28/20      67801    3177      62098
24937          China     3/28/20         94       1         74
24938          China     3/28/20         97       1         92
24939          China     3/28/20        132       2        124
24940          China     3/28/20         37       0         10
24941             US     3/28/20          0       0          0
24942             US     3/28/20        100       3          0
24943             US     3/28/20          0       0       1072
24944          China     3/28/20        485       5        334
24945          China     3/28/20        161       3        133
24946             US     3/28/20         22       0          0
24947          China     3/28/20       1251       1       1225
24948          India     3/28/20        987      24         84
24949           Iran     3/28/20      35408    2517      11679
24950          Italy     3/28/20      92472   10023      12384
24951    New Zealand     3/28/20        451       0         50
24952           Peru     3/28/20        671      16         16
24953      Singapore     3/28/20        802       2        198

[24954 rows x 5 columns]

In [3]:
groupDate = data.groupby("Last Update")
df1 = groupDate.count()

df1 

df1 = list(df1.index.values)

df = pd.DataFrame(df1)
df
    
# making data frame  
#data = pd.read_csv("nba.csv")  
  
# calling head() method   
# storing in new variable  
#data_top = data.head()  
    
#list(data_top.index.values)


#groupyear = filterrows.groupby("year")
#counts = groupyear["title"].count()

          0
0   1/22/20
1   1/23/20
2   1/24/20
3   1/25/20
4   1/26/20
5   1/27/20
6   1/28/20
7   1/29/20
8   1/30/20
9   1/31/20
10   2/1/20
11  2/10/20
12  2/11/20
13  2/12/20
14  2/13/20
15  2/14/20
16  2/15/20
17  2/16/20
18  2/17/20
19  2/18/20
20  2/19/20
21   2/2/20
22  2/20/20
23  2/21/20
24  2/22/20
25  2/23/20
26  2/24/20
27  2/25/20
28  2/26/20
29  2/27/20
..      ...
37   2/8/20
38   2/9/20
39   3/1/20
40  3/10/20
41  3/11/20
42  3/12/20
43  3/13/20
44  3/14/20
45  3/15/20
46  3/16/20
47  3/17/20
48  3/18/20
49  3/19/20
50   3/2/20
51  3/20/20
52  3/21/20
53  3/22/20
54  3/23/20
55  3/24/20
56  3/25/20
57  3/26/20
58  3/27/20
59  3/28/20
60   3/3/20
61   3/4/20
62   3/5/20
63   3/6/20
64   3/7/20
65   3/8/20
66   3/9/20

[67 rows x 1 columns]

In [ ]:
dataChina = data[data["Country/Region"] == "Mainland China"]  
dataChina
groupChina = dataChina.groupby("Last Update")
dChina = groupChina.sum()
dChina

#surveys_df[surveys_df.year == 2002]

In [ ]:
#df1 = pd.DataFrame({ "AAPL": AAPL["Adj Close"],
#                           "MSFT": MSFT["Adj Close"],
#                           "GOOG": GOOG["Adj Close"]})