In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/LatLongdata.csv")
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,ei,Mainland China,3/1/20,66907,2761,31536,30.975600,112.270700
1,ne,South Korea,3/1/20,3736,17,30,36.000000,128.000000
2,ne,Italy,3/1/20,1694,34,83,43.000000,12.000000
3,ng,Mainland China,3/1/20,1349,7,1016,23.341700,113.424400
4,an,Mainland China,3/1/20,1272,22,1198,33.882000,113.614000
5,ng,Mainland China,3/1/20,1205,1,1046,29.183200,120.093400
6,an,Mainland China,3/1/20,1018,4,866,27.610400,111.708800
7,ui,Mainland China,3/1/20,990,6,873,31.825700,117.226400
8,ne,Iran,3/1/20,978,54,175,32.000000,53.000000
9,xi,Mainland China,3/1/20,935,1,831,27.614000,115.722100
10,ng,Mainland China,3/1/20,758,6,443,36.342700,118.149800
11,su,Mainland China,3/1/20,631,0,536,32.971100,119.455000
12,ng,Mainland China,3/1/20,576,6,450,30.057200,107.874000
13,an,Mainland China,3/1/20,538,3,365,30.617100,102.710300
14,ng,Mainland China,3/1/20,480,13,342,47.862000,127.761500
15,ng,Mainland China,3/1/20,413,8,276,40.182400,116.414200
16,ai,Mainland China,3/1/20,337,3,290,31.202000,121.449100
17,ei,Mainland China,3/1/20,318,6,294,38.042800,114.514900
18,an,Mainland China,3/1/20,296,1,247,26.078900,117.987400
19,ne,Japan,3/1/20,256,6,32,36.000000,138.000000
20,xi,Mainland China,3/1/20,252,2,181,23.829800,108.788100
21,xi,Mainland China,3/1/20,245,1,208,35.191700,108.870100
22,an,Mainland China,3/1/20,174,2,163,24.974000,101.487000
23,an,Mainland China,3/1/20,168,5,149,19.195900,109.745300
24,in,Mainland China,3/1/20,136,3,111,39.305400,117.323000
25,xi,Mainland China,3/1/20,133,0,116,37.577700,112.292200
26,ne,France,3/1/20,130,2,12,47.000000,2.000000
27,ne,Germany,3/1/20,130,0,16,51.000000,9.000000
28,ng,Mainland China,3/1/20,122,1,103,41.295600,122.608500
29,ne,Singapore,3/1/20,106,0,72,1.283300,103.833300
...,...,...,...,...,...,...,...,...
30167,NaN,Slovakia,3/29/20,314,0,2,48.669000,19.699000
30168,NaN,Slovenia,3/29/20,730,11,10,46.151200,14.995500
30169,NaN,Somalia,3/29/20,3,0,0,5.152149,46.199616
30170,NaN,South Africa,3/29/20,1280,2,31,-30.559500,22.937500
30171,NaN,Spain,3/29/20,80110,6803,14709,40.463667,-3.749220
30172,NaN,Sri Lanka,3/29/20,117,1,11,7.873054,80.771797
30173,NaN,Sudan,3/29/20,6,1,0,12.862800,30.217600
30174,NaN,Suriname,3/29/20,8,0,0,3.919300,-56.027800
30175,NaN,Sweden,3/29/20,3700,110,16,60.128161,18.643501
30176,NaN,Switzerland,3/29/20,14829,300,1595,46.818200,8.227500
30177,NaN,Syria,3/29/20,9,1,0,34.802075,38.996815
30178,NaN,Taiwan*,3/29/20,298,2,30,23.700000,121.000000
30179,NaN,Tanzania,3/29/20,14,0,1,-6.369028,34.888822
30180,NaN,Thailand,3/29/20,1388,7,97,15.870032,100.992541
30181,NaN,Timor-Leste,3/29/20,1,0,0,-8.874217,125.727539
30182,NaN,Togo,3/29/20,25,1,1,8.619500,0.824800
30183,NaN,Trinidad and Tobago,3/29/20,78,3,1,10.691800,-61.222500
30184,NaN,Tunisia,3/29/20,312,8,2,33.886917,9.537499
30185,NaN,Turkey,3/29/20,9217,131,105,38.963700,35.243300
30186,NaN,Uganda,3/29/20,33,0,0,1.373333,32.290275
30187,NaN,Ukraine,3/29/20,475,10,6,48.379400,31.165600
30188,NaN,United Arab Emirates,3/29/20,570,3,58,23.424076,53.847818
30189,NaN,United Kingdom,3/29/20,19522,1228,135,55.378100,-3.436000
30190,NaN,Uruguay,3/29/20,304,1,0,-32.522800,-55.765800
30191,NaN,Uzbekistan,3/29/20,144,2,7,41.377491,64.585262
30192,NaN,Venezuela,3/29/20,119,2,39,6.423800,-66.589700
30193,NaN,Vietnam,3/29/20,188,0,25,14.058324,108.277199
30194,NaN,West Bank and Gaza,3/29/20,109,1,18,31.952200,35.233200
30195,NaN,Zambia,3/29/20,29,0,0,-13.133897,27.849332
30196,NaN,Zimbabwe,3/29/20,7,1,0,-19.015438,29.154857

In [3]:
df.describe()

          Confirmed        Deaths     Recovered      Latitude     Longitude
count  30197.000000  30197.000000  30197.000000  30184.000000  30184.000000
mean     231.578170      9.935855     73.687850     36.297794    -75.204812
std     2964.697338    192.838235   1655.367217     11.870101     50.959483
min        0.000000      0.000000      0.000000    -42.882100   -170.132000
25%        0.000000      0.000000      0.000000     33.616438    -97.188282
50%        1.000000      0.000000      0.000000     38.036822    -88.004118
75%        9.000000      0.000000      0.000000     41.899816    -79.788249
max    97689.000000  10779.000000  62570.000000     72.000000    178.065000

In [4]:
df["Confirmed"] = df["Confirmed"].fillna(0)
df["Deaths"] = df["Deaths"].fillna(0)
df["Recovered"] = df["Recovered"].fillna(0)
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,ei,Mainland China,3/1/20,66907,2761,31536,30.975600,112.270700
1,ne,South Korea,3/1/20,3736,17,30,36.000000,128.000000
2,ne,Italy,3/1/20,1694,34,83,43.000000,12.000000
3,ng,Mainland China,3/1/20,1349,7,1016,23.341700,113.424400
4,an,Mainland China,3/1/20,1272,22,1198,33.882000,113.614000
5,ng,Mainland China,3/1/20,1205,1,1046,29.183200,120.093400
6,an,Mainland China,3/1/20,1018,4,866,27.610400,111.708800
7,ui,Mainland China,3/1/20,990,6,873,31.825700,117.226400
8,ne,Iran,3/1/20,978,54,175,32.000000,53.000000
9,xi,Mainland China,3/1/20,935,1,831,27.614000,115.722100
10,ng,Mainland China,3/1/20,758,6,443,36.342700,118.149800
11,su,Mainland China,3/1/20,631,0,536,32.971100,119.455000
12,ng,Mainland China,3/1/20,576,6,450,30.057200,107.874000
13,an,Mainland China,3/1/20,538,3,365,30.617100,102.710300
14,ng,Mainland China,3/1/20,480,13,342,47.862000,127.761500
15,ng,Mainland China,3/1/20,413,8,276,40.182400,116.414200
16,ai,Mainland China,3/1/20,337,3,290,31.202000,121.449100
17,ei,Mainland China,3/1/20,318,6,294,38.042800,114.514900
18,an,Mainland China,3/1/20,296,1,247,26.078900,117.987400
19,ne,Japan,3/1/20,256,6,32,36.000000,138.000000
20,xi,Mainland China,3/1/20,252,2,181,23.829800,108.788100
21,xi,Mainland China,3/1/20,245,1,208,35.191700,108.870100
22,an,Mainland China,3/1/20,174,2,163,24.974000,101.487000
23,an,Mainland China,3/1/20,168,5,149,19.195900,109.745300
24,in,Mainland China,3/1/20,136,3,111,39.305400,117.323000
25,xi,Mainland China,3/1/20,133,0,116,37.577700,112.292200
26,ne,France,3/1/20,130,2,12,47.000000,2.000000
27,ne,Germany,3/1/20,130,0,16,51.000000,9.000000
28,ng,Mainland China,3/1/20,122,1,103,41.295600,122.608500
29,ne,Singapore,3/1/20,106,0,72,1.283300,103.833300
...,...,...,...,...,...,...,...,...
30167,NaN,Slovakia,3/29/20,314,0,2,48.669000,19.699000
30168,NaN,Slovenia,3/29/20,730,11,10,46.151200,14.995500
30169,NaN,Somalia,3/29/20,3,0,0,5.152149,46.199616
30170,NaN,South Africa,3/29/20,1280,2,31,-30.559500,22.937500
30171,NaN,Spain,3/29/20,80110,6803,14709,40.463667,-3.749220
30172,NaN,Sri Lanka,3/29/20,117,1,11,7.873054,80.771797
30173,NaN,Sudan,3/29/20,6,1,0,12.862800,30.217600
30174,NaN,Suriname,3/29/20,8,0,0,3.919300,-56.027800
30175,NaN,Sweden,3/29/20,3700,110,16,60.128161,18.643501
30176,NaN,Switzerland,3/29/20,14829,300,1595,46.818200,8.227500
30177,NaN,Syria,3/29/20,9,1,0,34.802075,38.996815
30178,NaN,Taiwan*,3/29/20,298,2,30,23.700000,121.000000
30179,NaN,Tanzania,3/29/20,14,0,1,-6.369028,34.888822
30180,NaN,Thailand,3/29/20,1388,7,97,15.870032,100.992541
30181,NaN,Timor-Leste,3/29/20,1,0,0,-8.874217,125.727539
30182,NaN,Togo,3/29/20,25,1,1,8.619500,0.824800
30183,NaN,Trinidad and Tobago,3/29/20,78,3,1,10.691800,-61.222500
30184,NaN,Tunisia,3/29/20,312,8,2,33.886917,9.537499
30185,NaN,Turkey,3/29/20,9217,131,105,38.963700,35.243300
30186,NaN,Uganda,3/29/20,33,0,0,1.373333,32.290275
30187,NaN,Ukraine,3/29/20,475,10,6,48.379400,31.165600
30188,NaN,United Arab Emirates,3/29/20,570,3,58,23.424076,53.847818
30189,NaN,United Kingdom,3/29/20,19522,1228,135,55.378100,-3.436000
30190,NaN,Uruguay,3/29/20,304,1,0,-32.522800,-55.765800
30191,NaN,Uzbekistan,3/29/20,144,2,7,41.377491,64.585262
30192,NaN,Venezuela,3/29/20,119,2,39,6.423800,-66.589700
30193,NaN,Vietnam,3/29/20,188,0,25,14.058324,108.277199
30194,NaN,West Bank and Gaza,3/29/20,109,1,18,31.952200,35.233200
30195,NaN,Zambia,3/29/20,29,0,0,-13.133897,27.849332
30196,NaN,Zimbabwe,3/29/20,7,1,0,-19.015438,29.154857

In [5]:
df = df[["Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered", "Latitude", "Longitude"]]
df

,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Mainland China,3/1/20,66907,2761,31536,30.975600,112.270700
1,South Korea,3/1/20,3736,17,30,36.000000,128.000000
2,Italy,3/1/20,1694,34,83,43.000000,12.000000
3,Mainland China,3/1/20,1349,7,1016,23.341700,113.424400
4,Mainland China,3/1/20,1272,22,1198,33.882000,113.614000
5,Mainland China,3/1/20,1205,1,1046,29.183200,120.093400
6,Mainland China,3/1/20,1018,4,866,27.610400,111.708800
7,Mainland China,3/1/20,990,6,873,31.825700,117.226400
8,Iran,3/1/20,978,54,175,32.000000,53.000000
9,Mainland China,3/1/20,935,1,831,27.614000,115.722100
10,Mainland China,3/1/20,758,6,443,36.342700,118.149800
11,Mainland China,3/1/20,631,0,536,32.971100,119.455000
12,Mainland China,3/1/20,576,6,450,30.057200,107.874000
13,Mainland China,3/1/20,538,3,365,30.617100,102.710300
14,Mainland China,3/1/20,480,13,342,47.862000,127.761500
15,Mainland China,3/1/20,413,8,276,40.182400,116.414200
16,Mainland China,3/1/20,337,3,290,31.202000,121.449100
17,Mainland China,3/1/20,318,6,294,38.042800,114.514900
18,Mainland China,3/1/20,296,1,247,26.078900,117.987400
19,Japan,3/1/20,256,6,32,36.000000,138.000000
20,Mainland China,3/1/20,252,2,181,23.829800,108.788100
21,Mainland China,3/1/20,245,1,208,35.191700,108.870100
22,Mainland China,3/1/20,174,2,163,24.974000,101.487000
23,Mainland China,3/1/20,168,5,149,19.195900,109.745300
24,Mainland China,3/1/20,136,3,111,39.305400,117.323000
25,Mainland China,3/1/20,133,0,116,37.577700,112.292200
26,France,3/1/20,130,2,12,47.000000,2.000000
27,Germany,3/1/20,130,0,16,51.000000,9.000000
28,Mainland China,3/1/20,122,1,103,41.295600,122.608500
29,Singapore,3/1/20,106,0,72,1.283300,103.833300
...,...,...,...,...,...,...,...
30167,Slovakia,3/29/20,314,0,2,48.669000,19.699000
30168,Slovenia,3/29/20,730,11,10,46.151200,14.995500
30169,Somalia,3/29/20,3,0,0,5.152149,46.199616
30170,South Africa,3/29/20,1280,2,31,-30.559500,22.937500
30171,Spain,3/29/20,80110,6803,14709,40.463667,-3.749220
30172,Sri Lanka,3/29/20,117,1,11,7.873054,80.771797
30173,Sudan,3/29/20,6,1,0,12.862800,30.217600
30174,Suriname,3/29/20,8,0,0,3.919300,-56.027800
30175,Sweden,3/29/20,3700,110,16,60.128161,18.643501
30176,Switzerland,3/29/20,14829,300,1595,46.818200,8.227500
30177,Syria,3/29/20,9,1,0,34.802075,38.996815
30178,Taiwan*,3/29/20,298,2,30,23.700000,121.000000
30179,Tanzania,3/29/20,14,0,1,-6.369028,34.888822
30180,Thailand,3/29/20,1388,7,97,15.870032,100.992541
30181,Timor-Leste,3/29/20,1,0,0,-8.874217,125.727539
30182,Togo,3/29/20,25,1,1,8.619500,0.824800
30183,Trinidad and Tobago,3/29/20,78,3,1,10.691800,-61.222500
30184,Tunisia,3/29/20,312,8,2,33.886917,9.537499
30185,Turkey,3/29/20,9217,131,105,38.963700,35.243300
30186,Uganda,3/29/20,33,0,0,1.373333,32.290275
30187,Ukraine,3/29/20,475,10,6,48.379400,31.165600
30188,United Arab Emirates,3/29/20,570,3,58,23.424076,53.847818
30189,United Kingdom,3/29/20,19522,1228,135,55.378100,-3.436000
30190,Uruguay,3/29/20,304,1,0,-32.522800,-55.765800
30191,Uzbekistan,3/29/20,144,2,7,41.377491,64.585262
30192,Venezuela,3/29/20,119,2,39,6.423800,-66.589700
30193,Vietnam,3/29/20,188,0,25,14.058324,108.277199
30194,West Bank and Gaza,3/29/20,109,1,18,31.952200,35.233200
30195,Zambia,3/29/20,29,0,0,-13.133897,27.849332
30196,Zimbabwe,3/29/20,7,1,0,-19.015438,29.154857

In [6]:
countries = ['US', 'Mainland China', 'Italy', 'New Zealand', 'South Korea', 'UK', 'Iran', 'Singapore', 'India', 'Peru']
df = df.loc[df['Country/Region'].isin(countries)]
df

,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Mainland China,3/1/20,66907,2761,31536,30.975600,112.270700
1,South Korea,3/1/20,3736,17,30,36.000000,128.000000
2,Italy,3/1/20,1694,34,83,43.000000,12.000000
3,Mainland China,3/1/20,1349,7,1016,23.341700,113.424400
4,Mainland China,3/1/20,1272,22,1198,33.882000,113.614000
5,Mainland China,3/1/20,1205,1,1046,29.183200,120.093400
6,Mainland China,3/1/20,1018,4,866,27.610400,111.708800
7,Mainland China,3/1/20,990,6,873,31.825700,117.226400
8,Iran,3/1/20,978,54,175,32.000000,53.000000
9,Mainland China,3/1/20,935,1,831,27.614000,115.722100
10,Mainland China,3/1/20,758,6,443,36.342700,118.149800
11,Mainland China,3/1/20,631,0,536,32.971100,119.455000
12,Mainland China,3/1/20,576,6,450,30.057200,107.874000
13,Mainland China,3/1/20,538,3,365,30.617100,102.710300
14,Mainland China,3/1/20,480,13,342,47.862000,127.761500
15,Mainland China,3/1/20,413,8,276,40.182400,116.414200
16,Mainland China,3/1/20,337,3,290,31.202000,121.449100
17,Mainland China,3/1/20,318,6,294,38.042800,114.514900
18,Mainland China,3/1/20,296,1,247,26.078900,117.987400
20,Mainland China,3/1/20,252,2,181,23.829800,108.788100
21,Mainland China,3/1/20,245,1,208,35.191700,108.870100
22,Mainland China,3/1/20,174,2,163,24.974000,101.487000
23,Mainland China,3/1/20,168,5,149,19.195900,109.745300
24,Mainland China,3/1/20,136,3,111,39.305400,117.323000
25,Mainland China,3/1/20,133,0,116,37.577700,112.292200
28,Mainland China,3/1/20,122,1,103,41.295600,122.608500
29,Singapore,3/1/20,106,0,72,1.283300,103.833300
31,Mainland China,3/1/20,93,1,78,43.666100,126.192300
32,Mainland China,3/1/20,91,2,84,36.061100,103.834300
34,Mainland China,3/1/20,76,3,64,41.112900,85.240100
...,...,...,...,...,...,...,...
29936,US,3/29/20,26,0,0,45.939559,-108.269149
29937,US,3/29/20,0,0,0,33.173202,-102.827643
29938,US,3/29/20,16,1,0,38.682789,-121.901829
29939,US,3/29/20,47,0,0,43.478084,-70.710524
29940,US,3/29/20,0,0,0,40.872726,-97.597102
29941,US,3/29/20,43,0,0,39.921009,-76.730401
29942,US,3/29/20,36,0,0,34.972815,-81.180859
29943,US,3/29/20,9,1,0,37.243748,-76.544128
29944,US,3/29/20,1,0,0,33.176597,-98.687909
29945,US,3/29/20,3,0,0,39.262559,-121.353564
29946,US,3/29/20,0,0,0,65.508155,-151.390739
29947,US,3/29/20,5,0,0,32.768957,-113.906667
29948,US,3/29/20,2,0,0,40.003468,-102.425867
29949,US,3/29/20,0,0,0,27.001564,-99.169872
29950,US,3/29/20,0,0,0,28.866172,-99.760508
29951,US,3/29/20,0,0,0,44.978819,-101.665462
29953,US,3/29/20,0,0,0,-14.271000,-170.132000
29966,US,3/29/20,49,0,0,0.000000,0.000000
29974,US,3/29/20,103,3,0,0.000000,0.000000
29977,US,3/29/20,56,1,0,13.444300,144.793700
29996,US,3/29/20,0,0,0,15.097900,145.673900
30002,US,3/29/20,127,3,0,18.220800,-66.590100
30006,US,3/29/20,0,0,2665,0.000000,0.000000
30020,US,3/29/20,0,0,0,18.335800,-64.896300
30097,India,3/29/20,1024,27,95,20.593684,78.962880
30099,Iran,3/29/20,38309,2640,12391,32.427908,53.688046
30103,Italy,3/29/20,97689,10779,13030,41.871940,12.567380
30139,New Zealand,3/29/20,514,1,56,-40.900600,174.886000
30150,Peru,3/29/20,852,18,16,-9.190000,-75.015200
30166,Singapore,3/29/20,844,3,212,1.283300,103.833300

In [7]:
df.describe()

          Confirmed        Deaths     Recovered      Latitude     Longitude
count  26539.000000  26539.000000  26539.000000  26529.000000  26529.000000
mean     111.767813      5.958928     28.976299     37.920679    -88.657331
std     2134.308968    167.604430    842.430997      7.025859     28.505389
min        0.000000      0.000000      0.000000    -40.900600   -170.132000
25%        0.000000      0.000000      0.000000     34.481160    -98.181887
50%        1.000000      0.000000      0.000000     38.302929    -89.933955
75%        4.000000      0.000000      0.000000     41.745840    -82.881368
max    97689.000000  10779.000000  47743.000000     69.314792    174.886000

In [8]:
df.to_csv(r'/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CLEANLatLonData.csv', index = False)

In [3]:
df = pd.read_csv("/Users/spenc/OneDrive/Documents/University_of_Utah/2019-2020/DataScience/COMP5360Project/project_files/csv_files/CLEANLatLongdata.csv")
df.dtypes

Country/Region     object
Last Update        object
Confirmed           int64
Deaths              int64
Recovered           int64
Latitude          float64
Longitude         float64
dtype: object