In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/markomiholjcic/Documents/GitHub/COMP5360Project/project_files/csv_files/CDRdata.csv")
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/20,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/20,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/20,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/20,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/20,NaN,NaN,NaN
5,Guangdong,Mainland China,1/22/20,26.0,NaN,NaN
6,Guangxi,Mainland China,1/22/20,2.0,NaN,NaN
7,Guizhou,Mainland China,1/22/20,1.0,NaN,NaN
8,Hainan,Mainland China,1/22/20,4.0,NaN,NaN
9,Hebei,Mainland China,1/22/20,1.0,NaN,NaN
10,Heilongjiang,Mainland China,1/22/20,NaN,NaN,NaN
11,Henan,Mainland China,1/22/20,5.0,NaN,NaN
12,Hong Kong,Hong Kong,1/22/20,NaN,NaN,NaN
13,Hubei,Mainland China,1/22/20,444.0,17.0,28.0
14,Hunan,Mainland China,1/22/20,4.0,NaN,NaN
15,Inner Mongolia,Mainland China,1/22/20,NaN,NaN,NaN
16,Jiangsu,Mainland China,1/22/20,1.0,NaN,NaN
17,Jiangxi,Mainland China,1/22/20,2.0,NaN,NaN
18,Jilin,Mainland China,1/22/20,NaN,NaN,NaN
19,Liaoning,Mainland China,1/22/20,2.0,NaN,NaN
20,Macau,Macau,1/22/20,1.0,NaN,NaN
21,Ningxia,Mainland China,1/22/20,1.0,NaN,NaN
22,Qinghai,Mainland China,1/22/20,NaN,NaN,NaN
23,Shaanxi,Mainland China,1/22/20,NaN,NaN,NaN
24,Shandong,Mainland China,1/22/20,2.0,NaN,NaN
25,Shanghai,Mainland China,1/22/20,9.0,NaN,NaN
26,Shanxi,Mainland China,1/22/20,1.0,NaN,NaN
27,Sichuan,Mainland China,1/22/20,5.0,NaN,NaN
28,Taiwan,Taiwan,1/22/20,1.0,NaN,NaN
29,Tianjin,Mainland China,1/22/20,4.0,NaN,NaN
...,...,...,...,...,...,...
28504,NaN,Slovakia,3/28/20,292.0,0.0,2.0
28505,NaN,Slovenia,3/28/20,684.0,9.0,10.0
28506,NaN,Somalia,3/28/20,3.0,0.0,0.0
28507,NaN,South Africa,3/28/20,1187.0,1.0,31.0
28508,NaN,Spain,3/28/20,73235.0,5982.0,12285.0
28509,NaN,Sri Lanka,3/28/20,113.0,1.0,9.0
28510,NaN,Sudan,3/28/20,5.0,1.0,0.0
28511,NaN,Suriname,3/28/20,8.0,0.0,0.0
28512,NaN,Sweden,3/28/20,3447.0,105.0,16.0
28513,NaN,Switzerland,3/28/20,14076.0,264.0,1530.0
28514,NaN,Syria,3/28/20,5.0,0.0,0.0
28515,NaN,Taiwan*,3/28/20,283.0,2.0,30.0
28516,NaN,Tanzania,3/28/20,14.0,0.0,1.0
28517,NaN,Thailand,3/28/20,1245.0,6.0,97.0
28518,NaN,Timor-Leste,3/28/20,1.0,0.0,0.0
28519,NaN,Togo,3/28/20,25.0,1.0,1.0
28520,NaN,Trinidad and Tobago,3/28/20,74.0,3.0,1.0
28521,NaN,Tunisia,3/28/20,278.0,8.0,2.0
28522,NaN,Turkey,3/28/20,7402.0,108.0,70.0
28523,NaN,Uganda,3/28/20,30.0,0.0,0.0
28524,NaN,Ukraine,3/28/20,356.0,9.0,5.0
28525,NaN,United Arab Emirates,3/28/20,468.0,2.0,52.0
28526,NaN,United Kingdom,3/28/20,17089.0,1019.0,135.0
28527,NaN,Uruguay,3/28/20,274.0,0.0,0.0
28528,NaN,Uzbekistan,3/28/20,104.0,2.0,5.0
28529,NaN,Venezuela,3/28/20,119.0,2.0,39.0
28530,NaN,Vietnam,3/28/20,174.0,0.0,21.0
28531,NaN,West Bank and Gaza,3/28/20,98.0,1.0,18.0
28532,NaN,Zambia,3/28/20,28.0,0.0,0.0
28533,NaN,Zimbabwe,3/28/20,7.0,1.0,0.0

In [3]:
df.describe()

          Confirmed        Deaths     Recovered
count  28515.000000  28093.000000  28146.000000
mean     279.766860     11.172641     87.379947
std     3279.777856    190.630380   1711.227050
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        1.000000      0.000000      0.000000
75%       12.000000      0.000000      0.000000
max    92472.000000  10023.000000  62098.000000

In [22]:
df["Confirmed"] = df["Confirmed"].fillna(0)
df["Deaths"] = df["Deaths"].fillna(0)
df["Recovered"] = df["Recovered"].fillna(0)
df[530:550]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
530,Victoria,Australia,2/1/20,4.0,0.0,0.0
531,Queensland,Australia,2/1/20,3.0,0.0,0.0
532,Ontario,Canada,2/1/20,3.0,0.0,0.0
533,NaN,UK,2/1/20,2.0,0.0,0.0
534,"Chicago, IL",US,2/1/20,2.0,0.0,0.0
535,South Australia,Australia,2/1/20,1.0,0.0,0.0
536,British Columbia,Canada,2/1/20,1.0,0.0,0.0
537,Tibet,Mainland China,2/1/20,1.0,0.0,0.0
538,NaN,Philippines,2/1/20,1.0,0.0,0.0
539,NaN,Spain,2/1/20,1.0,0.0,0.0
540,NaN,Sweden,2/1/20,1.0,0.0,0.0
541,"Boston, MA",US,2/1/20,1.0,0.0,0.0
542,"Los Angeles, CA",US,2/1/20,1.0,0.0,0.0
543,"Orange, CA",US,2/1/20,1.0,0.0,0.0
544,"Santa Clara, CA",US,2/1/20,1.0,0.0,0.0
545,"Seattle, WA",US,2/1/20,1.0,0.0,0.0
546,"Tempe, AZ",US,2/1/20,1.0,0.0,0.0
547,Hubei,Mainland China,2/2/20,11177.0,350.0,295.0
548,Zhejiang,Mainland China,2/2/20,661.0,0.0,32.0
549,Guangdong,Mainland China,2/2/20,632.0,0.0,15.0

In [24]:
data = df[df["Country/Region"] == "US"]
data[100:]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
1997,"Wake County, NC",US,3/3/20,1.0,0.0,0.0
1998,"Westchester County, NY",US,3/3/20,1.0,0.0,0.0
2040,"King County, WA",US,3/4/20,31.0,9.0,1.0
2056,"Westchester County, NY",US,3/4/20,10.0,0.0,0.0
2060,"Snohomish County, WA",US,3/4/20,8.0,1.0,0.0
2061,"Los Angeles, CA",US,3/4/20,7.0,0.0,0.0
2071,"Orange County, CA",US,3/4/20,3.0,0.0,0.0
2073,"Placer County, CA",US,3/4/20,2.0,1.0,0.0
2083,"Contra Costa County, CA",US,3/4/20,1.0,0.0,0.0
2124,"King County, WA",US,3/5/20,51.0,10.0,1.0
2135,"Santa Clara, CA",US,3/5/20,20.0,0.0,1.0
2136,"Snohomish County, WA",US,3/5/20,18.0,1.0,0.0
2137,"Westchester County, NY",US,3/5/20,18.0,0.0,0.0
2146,"Los Angeles, CA",US,3/5/20,11.0,0.0,0.0
2152,"Cook County, IL",US,3/5/20,5.0,0.0,2.0
2157,"New York City, NY",US,3/5/20,4.0,0.0,0.0
2161,"San Diego County, CA",US,3/5/20,3.0,0.0,1.0
2167,"Bergen County, NJ",US,3/5/20,2.0,0.0,0.0
2168,"Harris County, TX",US,3/5/20,2.0,0.0,0.0
2169,"San Francisco County, CA",US,3/5/20,2.0,0.0,0.0
2171,"Clark County, NV",US,3/5/20,1.0,0.0,0.0
2172,"Fort Bend County, TX",US,3/5/20,1.0,0.0,0.0
2173,"Grant County, WA",US,3/5/20,1.0,0.0,0.0
2174,"Queens County, NY",US,3/5/20,1.0,0.0,0.0
2175,"Santa Rosa County, FL",US,3/5/20,1.0,0.0,0.0
2176,"Williamson County, TN",US,3/5/20,1.0,0.0,0.0
2218,"King County, WA",US,3/6/20,58.0,12.0,1.0
2232,"Snohomish County, WA",US,3/6/20,19.0,1.0,0.0
2233,"Westchester County, NY",US,3/6/20,19.0,0.0,0.0
2238,"New York County, NY",US,3/6/20,16.0,0.0,0.0
...,...,...,...,...,...,...
28271,South Dakota,US,3/28/20,1.0,0.0,0.0
28272,New York,US,3/28/20,0.0,0.0,0.0
28273,Arizona,US,3/28/20,13.0,0.0,0.0
28274,Mississippi,US,3/28/20,4.0,0.0,0.0
28275,Arkansas,US,3/28/20,0.0,0.0,0.0
28276,Minnesota,US,3/28/20,0.0,0.0,0.0
28277,Montana,US,3/28/20,23.0,0.0,0.0
28278,Texas,US,3/28/20,0.0,0.0,0.0
28279,California,US,3/28/20,16.0,1.0,0.0
28280,Maine,US,3/28/20,38.0,0.0,0.0
28281,Nebraska,US,3/28/20,0.0,0.0,0.0
28282,Pennsylvania,US,3/28/20,37.0,0.0,0.0
28283,South Carolina,US,3/28/20,31.0,0.0,0.0
28284,Virginia,US,3/28/20,9.0,1.0,0.0
28285,Texas,US,3/28/20,1.0,0.0,0.0
28286,California,US,3/28/20,3.0,0.0,0.0
28287,Alaska,US,3/28/20,0.0,0.0,0.0
28288,Arizona,US,3/28/20,4.0,0.0,0.0
28289,Colorado,US,3/28/20,2.0,0.0,0.0
28290,Texas,US,3/28/20,0.0,0.0,0.0
28291,Texas,US,3/28/20,0.0,0.0,0.0
28292,South Dakota,US,3/28/20,0.0,0.0,0.0
28294,American Samoa,US,3/28/20,0.0,0.0,0.0
28306,Diamond Princess,US,3/28/20,49.0,0.0,0.0
28314,Grand Princess,US,3/28/20,103.0,3.0,0.0
28317,Guam,US,3/28/20,55.0,1.0,0.0
28335,Northern Mariana Islands,US,3/28/20,0.0,0.0,0.0
28341,Puerto Rico,US,3/28/20,100.0,3.0,0.0
28345,Recovered,US,3/28/20,0.0,0.0,1072.0
28357,Virgin Islands,US,3/28/20,22.0,0.0,0.0